*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
node_modules*
tethysapp/aquainsight/workspaces/
reactapp/config/production.env
test.py
.coverage
launch.json
reactapp/tethys-ol
cache