*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
*__pycache__
.idea/
services.yml
node_modules*
tethysapp/tethysdash/workspaces/
reactapp/config/production.env
test.py
.coverage
launch.json
cache
coverage
data
build
dist
docs/brainstorms/
docs/plans/


tethysapp/tethysdash/public/images/plugins/*
tethysapp/tethysdash/public/data/plugins/*