.dropdown-toggle::after {
  display: none !important;
}

.navbar .btn {
  background-color: transparent;
  border: none;
  color: #4b5b6a;
}

.navbar .btn:hover,
.navbar .btn:focus {
  background-color: #f4f6f7 !important;
  color: #15202a;
  border: none;
  box-shadow: none;
}
