.variable-input-video {
  width: 100%;
}

.wy-nav-content {
  max-width: none;
}

img.tutorial-image {
  border: 1px solid #c0c4c8;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 50%;
  height: auto;
}
